html body{
    margin:0
}


.topo{
    top:0;
    display:inline-flex;
    width: 100vw;
    height: 150px;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 40px;
    font-family: kiona;
    background-color: rgba(0, 0, 0, 0.68);
}