<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=<<<device-width>>>, initial-scale=1.0"> -->
    <link rel="stylesheet" href="../static/index.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="topo">
        <h1>Nix Questões</h1>
    </div>

    <form class="formulario" method="POST" action="{{ url_for('teste2') }}">
        
        Digite o seu nome para Participar<br><br>
        <input type="text" name="nome" required><br><br>
        {% if msg %}
            <p>{{msg}}</p>
        {% endif %}
        <button type="submit" class="btn btn-primary">Entrar no Game!</button>
    </form>
    
    <div class="rodape">

    </div>
</body>
</html>