<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=<<<device-width>>>, initial-scale=1.0"> -->
    <!-- <link rel="stylesheet" href="../../projeto-game-questoes-flask/static/questao-page.css" type="text/css"/> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <!-- <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> -->
    <script src="https://js.pusher.com/7.2/pusher.min.js"></script>

    <title>Document</title>
</head>
<body>
    <style>
        html body{
        margin:0
        }


        .topo{
        top:0;
        display:inline-flex;
        width: 100vw;
        height: 150px;
        justify-content: center;
        align-items: center;
        color:white;
        font-size: 40px;
        font-family: kiona;
        background-color: rgba(0, 0, 0, 0.68);
        }

        ::-webkit-scrollbar{
            width: 7px;
        }
        
        ::-webkit-scrollbar-track{
            border:0px solid rgba(120, 121, 134, 0.411);
            box-shadow: inset 0 0 0.5px rgba(43, 39, 63, 0.301);
        }
        ::-webkit-scrollbar-thumb{
            background-color: rgba(51, 51, 77, 0.486);
            border-radius: 5px;
        
        }

        .modal {
            background-color: rgba(17, 11, 50, 0.929);
            -webkit-transition: 3.5s;
            overflow: auto;
            transition: all 0.3s linear;
        }
        
    </style>

    
        
        <!--  -->

        <!-- <div class="container"> -->
    <div class="topo" >
        <h2>Nix Questões</h2>        
    </div>
    <br>
    <div class="row" style="text-align: center; justify-content: center;">
        <div class="col">
            <div id="user_1_div" class="col-sm">
                1: <h4 id="user_1" value="{{dicio_users['user_1'][0][0]}}">{{dicio_users['user_1'][0][0]}}</h4>
                <!-- <p>Pontuação: (1/10)</p> -->
                <p>Pontuação: <p id="pontos"></p></p>
            </div>
        </div>
        <div class="col">
            <div id="user_2_div" class="col-sm">
                2: <h4 id="user_2" value="{{dicio_users['user_2'][0][0]}}">{{dicio_users['user_2'][0][0]}}</h4>
                <!-- <p>Pontuação: (1/10)</p> -->
                <p>Pontuação: <p id="pontos"></p></p>
            </div>
        </div>
    </div>
    <hr>
<!-- 
        </div> -->
    

    
    <div class="row shadow p-5" style="width: 100vw;height: 100vh;display: flex; ">
        <div id="content1" class=" bg-white rounded " style="background-color: #d1ced1;  max-width: 80%;height:100% ; text-align: justify;   overflow-y: scroll;">
            {% for i in range (0,len(lista)) %}
                <!-- style="width: 100%;" -->
                    <div class="col-sm" >
                        <div class="card shadow p-3">
                            <h5 class="card-header">Disciplina: {{lista[i][1]}}</h5>
                            <h5 class="card-header">Tópico: {{lista[i][3]}}</h5>
                            <div class="card-body">
                            <h5 id="nome_texto_questao_{{lista[i][0]}}" class="card-title">{{lista[i][2]}}</h5>
                            <hr>
                            <p class="card-text">{{lista[i][4]}}</p>
                            <hr>
                            <form class="form" id="{{lista[i][0]}}">
                                {% for item in lista[i][5] %}
                                    <input id="alternativa_selecionada_{{lista[i][0]}}" type="radio" value="{{ item[0:2].strip() }}" name="alternativa_selecionada_{{lista[i][0]}}">{{ item }}<br>
                                    <br>
                                   
                                    
                                {% endfor %}
                                    <button id="botao_responder" name="{{lista[i][0]}}" class="btn btn-primary" type="button" style="left: 0;margin-left: 20px;">Responder</a></button>
                                    <!-- <a href="#" class="btn btn-primary" style="margin-left: 20px;">Anterior</a>
                                        <a href="#" class="btn btn-primary" style="margin-left: 20px;">Próxima</a> -->
                                    <p id="resultado_{{lista[i][0]}}" name="{{lista[i][-1]}}" style="font-size: 15px;color:black"></p>
                                        
                                        <!-- PAGINACAO NAO DEU CERTO!! -->
                                        
                                    
                                    
                            </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
            
        <!-- <div id="content" class=" bg-white rounded " style="background-color: #d1ced1;  width: 16%;height: 600px;; text-align: justify;   overflow-y: scroll;">   -->
        <div class="col shadow p-3">

            <div class="chat">
                <div class="conversando_com">
                    <p>Conectado a: </p>
                    <input type="hidden" id="h4_conversando_com_i" disabled>
                    <h4 id="h4_conversando_com"></h4>
                </div>
                <!-- <div class="msgs"></div> -->
                <div id="content" class=" bg-white rounded " style="background-color: #d1ced1;  width: auto;  height:500px ; text-align: justify;   overflow-y: scroll;">

                    
                </div>

                <form action="" class="form formulario_chat">
                    <div class="inputs form-group">
                        <input id="txt_enviar_chat" type="text" class="form-control texto_enviar">
                        <input id="btn_enviar_chat" type="button" class="btn btn-primary" value="Enviar">
                    </div>

                </form>
            </div>


        </div>
    </div>
    
   <!-- Modal --> 
    <div id="myModal" data-backdrop="static"class="modal is-active" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="min-width: 350px;max-width: 70vw;">
            <div class="modal-header">
              <h5 class="modal-title">Digite o seu usuário para entrar</h5>
             
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
            </div>
            <div class="modal-footer">
              <a id="botao_modal" type="button" class="btn btn-primary">Entrar</a>
            </div>
          </div>
          <!-- Modal -->
        </div>
      </div>
   <!-- Modal -->
   
  

<script type="text/javascript">

    

    $(document).ready(function() {

        let input_value_alternativa;
        let username;
        username = $("#username").val();
        
        let user_1; 
        user_1 = $("#user_1").text();
        let user_2; 
        user_2 = $("#user_2").text();
        dicio = {
            'username':username,
            'user_1':user_1,
            'user_2':user_2,
        }
        console.log("ENTRANDO -> "+dicio)
        $.post('/checar_login_page_questoes',dicio, function(data){
            console.log("PRIMEIRO POST")
            console.log(data)
            if (data['status']=='ok'){
                console.log(data['username'])
                
            // acabou o if se o user ta online
            
            }
            else{
                $("#myModal").modal('show');
                $("#botao_modal").on('click', function(){
                    console.log("DENTRO DO BOTAO DO MODAl")
                    username = $("#username").val();
                    console.log(username)
                    dicio2 = {
                        'username':username,
                        'user_1':user_1,
                        'user_2':user_2,
                    }
                    $.post('/checar_login_page_questoes',dicio2, function(data){
                        console.log(data)
                        // username = $("#username").val()
                        if (data['ok'] == 'ok'){
                            console.log('resposta é ok')
                            $("#myModal").modal('hide');
                            if (data['username'] == user_1){
                                console.log('data = user 1')
                                // $("#user_1").attr({'style':'color:white'})
                                $("#user_1").attr({'id':'name_from'})
                                $("#user_2").attr({'id':'name_to'})
                                $("#user_1_div").attr({'style':'background-color:rgba(0, 240, 57, 1);color:white;font-size:25px;border:1px solid black'})
                                
                            }
                            if (data['username'] == user_2){
                                console.log('data = user 2')
                                // $("#user_2").attr({'style':'color:green'})
                                $("#user_2").attr({'id':'name_from'})
                                $("#user_1").attr({'id':'name_to'})
                                $("#user_2_div").attr({'style':'background-color:rgba(0, 240, 57, 1);color:white;font-size:25px;border:1px solid black'})
                                
                            }
                        }
                    });
                });
            }   
        });
        Pusher.logToConsole = true;
        var pusher = new Pusher('3eef3f7cf3be6643b599', {
            cluster: 'sa1'
        });
        var channel = pusher.subscribe('nixquestoes');
        let evento;
        evento = '{{dicio_users["evento"]|safe}}'
        // console.log("EVENTO ..>: "+ evento)
        
        modelo_message1 = `<hr>
                <p class="username_chat"><strong>Usuário Logou!</strong>: </p>
                
                <hr>`;

        $("#content").append(modelo_message1);  

        // $("body").on('change', function(){
        channel.bind(evento, function(data) {
            console.log(data)

            modelo_message1 = `<hr>
            <input id='${data['momento_to_focus']}' readonly style="width:100%;background-color:transparent; text-decorate:none; border:none">Usuário <strong>${data['user']}</strong> teve resposta da <strong>${data['nome_texto_questao']}</strong>: <strong>${data['resultado']}</strong></input>
                
                <hr>`;

            $("#content").append(modelo_message1); 
            $("#"+data['momento_to_focus']).focus();

            //pegando o resultado via data['ponto']
            if (data['ponto']==1){
                console.log("ACERTOOOOOOU")
                var pontos_a_somar = Math.abs(1)
            }
            else{
                var pontos_a_somar = -Math.abs(-1)

                console.log("ERRRRROuuuu")
            }

            // pegando o status atual
            //  id="pontos"
            var pontos_atual = $("#pontos").text();
            if(pontos_atual == ''){
                pontos_atual = 0;
            }
            else if(pontos_a_somar < 0 ){
                pontos_a_somar = -Math.abs(pontos_a_somar)
            }
            else{
                pontos_a_somar = Math.abs(pontos_a_somar)
            }
            // resultado = 
            var resultado = Number(pontos_a_somar) +Number(pontos_atual)
            console.log('pontos_atual: '+pontos_atual)
            console.log('TYPE OF pontos_atual: '+typeof(pontos_atual))
            console.log('pontos_a somar: '+pontos_a_somar)
            console.log('TYPE OF pontos_a somar: '+typeof(pontos_a_somar))
            console.log('REs: '+resultado)
            pontos_atual = $("#pontos").text(resultado);

        });

        // });
        
        

        let alter;

        

        
        // $("[name='alternativa_selecionada']").on('click', function(){
        //     // console.log($(this).val())
        //     // console.log("VALO DO INPUT")
        //     input_value_alternativa = $(this).val();
        // })

        // INPUT pronto
        let valor_input_selecionado;
        $("input").on('click', function(){
            valor_input_selecionado = $(this).val();
        })

        // texto numero questao
        let numero_texto_questao;


        // BOTAO PRONTO
        let id_questao_a_procurar;
        $("button").on('click', function(){
            console.log("ENTRO DO BOTAO")
            console.log("ID DO BOTA -> " + $(this).attr('name'))
            id_questao_a_procurar = $(this).attr('name');
            
            console.log("PEGANDO O VALOR DO RESPECTIVO INPUT")
            console.log("----> INPUT SELECTED: " + valor_input_selecionado)

            // pegar gabarito
            var gab_questao = $("#resultado_"+id_questao_a_procurar).attr('name')
            console.log('----GAB------');
            console.log(gab_questao);

            // pegar o numero texto questao
            nome_texto_questao = $("#nome_texto_questao_"+id_questao_a_procurar).text()

            // momento_to_focus()

            const now = new Date();
            const momento_to_focus = now.getTime();

            dicio = {
                    'user':username,
                    'id_questao':id_questao_a_procurar,
                    'nome_texto_questao':nome_texto_questao,
                    'alternativa_selecionada':valor_input_selecionado,
                    'gab_questao':gab_questao,
                    'evento':evento,
                    'momento':"{{ momento|safe }}",
                    'momento_to_focus':momento_to_focus,
                    'status':'pass',
                }
            $.post('/tratar_questao', dicio, function(data){
                console.log(data)
                $("#resultado_"+data['id_questao']).text(data['resultado'])
            });
        });

                // console.log("--> inputs: " + input_val)

                // ------>
                // // GAB feito
                // var gab_questao = $("p", form_esse).attr('name');
                // console.log('----GAB------');
                // console.log(gab_questao);


                // dicio = {
                //     'id_questao':id_questao,
                //     'alternativa_selecionada':alter,
                //     'gab_questao':gab_questao,
                //     'evento':evento,
                //     'momento':"{{ momento|safe }}",
                //     'status':'pass',
                // }

                // $.post('/tratar_questao', dicio, function(data){
                //     console.log(data)
                //     $("#resultado").text(data['resultado'])
                // });

                
                // ------>
            
                        // ------>
                    
                        // channel.bind(evento, function(data) {
                            //     console.log(data)
                            //     modelo_message1 = `<hr>
                            //     <p class="username_chat"><strong>Usuário (x) teve resposta -> ${data['resultado']}</strong>: </p>
                            
                            //     <hr>`;
                            
                            //     $("#content").append(modelo_message1);  
                            // });
                            
                // });
                    
            

        
            
    });

   
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>