<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=<<<device-width>>>, initial-scale=1.0"> -->
    <!-- <link rel="stylesheet" href="../../projeto-game-questoes-flask/static/questao-page.css" type="text/css"/> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <!-- <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> -->
    <script src="https://js.pusher.com/7.2/pusher.min.js"></script>

    <title>Document</title>
</head>
<body>
    <style>
        html body{
        margin:0
        }


        .topo{
        top:0;
        display:inline-flex;
        width: 100vw;
        height: 150px;
        justify-content: center;
        align-items: center;
        color:white;
        font-size: 40px;
        font-family: kiona;
        background-color: rgba(0, 0, 0, 0.68);
        }

        ::-webkit-scrollbar{
            width: 7px;
        }
        
        ::-webkit-scrollbar-track{
            border:0px solid rgba(120, 121, 134, 0.411);
            box-shadow: inset 0 0 0.5px rgba(43, 39, 63, 0.301);
        }
        ::-webkit-scrollbar-thumb{
            background-color: rgba(51, 51, 77, 0.486);
            border-radius: 5px;
        
        }
        
    </style>

    <div class="topo">
        <h2>Nix Questões</h2>        
    </div>
    
    <!--  -->

    <div class="container">
        <br>
            <div class="row" style="text-align: center; justify-content: center;">
                <div class="col">
                    <div class="col-sm">
                        <p>1: {{dicio_users['user_1'][0][0]}}</p>
                        <p>Pontuação: (1/10)</p>
                    </div>
                </div>
                <div class="col">
                    <div class="col-sm">
                        <p>2: {{dicio_users['user_2'][0][0]}}</p>
                        <p>Pontuação: (1/10)</p>
                    </div>
                </div>
            </div>
            <hr>

    </div>
    <div class="row shadow p-5" style="width: 100vw; ">
        {% for i in range (0,len(lista)) %}
            <div class="col-sm" style="width: 60%;">
                <div class="card shadow p-3">
                    <h5 class="card-header">Disciplina: {{lista[i][1]}}</h5>
                    <h5 class="card-header">Tópico: {{lista[i][3]}}</h5>
                    <div class="card-body">
                    <h5 class="card-title">{{lista[i][2]}}</h5>
                    <hr>
                    <p class="card-text">{{lista[i][4]}}</p>
                    <hr>
                    <form>
                        {% for item in lista[i][5] %}
                            <input id="alternativa_selecionada" type="radio" value="{{ item[0:2].strip() }}" name="alternativa_selecionada">{{ item }}<br>
                            <br>
                        {% endfor %}
                            <br>
                            <div class="botoes" >
                                <a id="botao_responder" class="btn btn-primary" style="left: 0;margin-left: 20px;">Responder</a>
                                <!-- <a href="#" class="btn btn-primary" style="margin-left: 20px;">Anterior</a>
                                <a href="#" class="btn btn-primary" style="margin-left: 20px;">Próxima</a> -->
                                <p id="resultado" style="font-size: 15px;color:black"></p>
                                <!-- <div style="color:red;margin-top: 15px;width: 100%;"> -->
                                    <!-- <h1>per_page_parameter: {{pagination.per_page_parameter}}</h1> -->
                                    <!-- <h1>{{pagination}}</h1> -->
                                    <!-- <h1>{{pagination.info}}</h1> -->
                                <h1 style="width: 100%;color:black;font-size:15px;text-align: center;align-items: center;margin-left: 30%;">{{pagination.links}}</h1>
                                    <!-- <h1>current page: {{pagination.page}}</h1> -->
                                <!-- </div>   -->
                            </div>
                            
                    </form>
                    </div>
                </div>
            </div>
        {% endfor %}
            
          
        <div class="col-sm-3 shadow p-3" style="width: 30%;" >

            <div class="chat">
                <div class="conversando_com">
                    <p>Conectado a: </p>
                    <input type="hidden" id="h4_conversando_com_i" disabled>
                    <h4 id="h4_conversando_com"></h4>
                </div>
                <!-- <div class="msgs"></div> -->
                <div id="content" class=" bg-white rounded " style="background-color: #d1ced1;  width: auto;  height:500px ; text-align: justify;   overflow-y: scroll;">

                    
                </div>

                <form action="" class="form formulario_chat">
                    <div class="inputs form-group">
                        <input id="txt_enviar_chat" type="text" class="form-control texto_enviar">
                        <input id="btn_enviar_chat" type="button" class="btn btn-primary" value="Enviar">
                    </div>

                </form>
            </div>


        </div>
    </div>

<script type="text/javascript">

    

    $(document).ready(function() {

        Pusher.logToConsole = true;
        var pusher = new Pusher('3eef3f7cf3be6643b599', {
            cluster: 'sa1'
        });
        var channel = pusher.subscribe('nixquestoes');
        let evento;
        evento = '{{dicio_users["evento"]|safe}}'
        // console.log("EVENTO ..>: "+ evento)
        
        modelo_message1 = `<hr>
                <p class="username_chat"><strong>Usuário Logou!</strong>: </p>
                
                <hr>`;

        $("#content").append(modelo_message1);  

        // $("body").on('change', function(){
        channel.bind(evento, function(data) {
            console.log(data)
            modelo_message1 = `<hr>
                <p class="username_chat"><strong>Usuário (x) teve resposta -> ${data['resultado']}</strong>: </p>
                
                <hr>`;

            $("#content").append(modelo_message1);  
        });

        // });
        
        

        let alter;

        $("[name=alternativa_selecionada]").on('click', function(){
            alter =$(this).val();
            // console.log("alternativa .>: " + alter)
        });

        $('#botao_responder').on('click', function(){
            // var alternativa_selecionada = $('#alternativa_selecionada').val();
            // console.log("alternativa selecionada:_> "+ alternativa_selecionada)
            // var alternativa_selecionada = $('#alternativa_selecionada').attr('value');
            // console.log("alternativa selecionada:_> "+ alter)
            // $.post('')
            $("#botao_responder").attr('disable');
            var url = $(location).attr('href');
            // var url = 'http://127.0.0.1:5000/adm_geral/questao/Liderança/1662035587755/_evento_/366_evento_451';

            var gab_questao = "{{ lista[0][-1]|safe }}";
            console.log('----------');
            console.log(gab_questao);
            dicio = {
                'alternativa_selecionada':alter,
                'gab_questao':gab_questao,
                'evento':evento,
            }

            $.post('/tratar_questao', dicio, function(data){
                console.log(data)
                $("#resultado").text(data['resultado'])
            })

            // channel.bind(evento, function(data) {
            //     console.log(data)
            //     modelo_message1 = `<hr>
            //     <p class="username_chat"><strong>Usuário (x) teve resposta -> ${data['resultado']}</strong>: </p>
                
            //     <hr>`;

            //     $("#content").append(modelo_message1);  
            // });
        
        });
    });

</script>

</body>

</html>